option#rarity-dropdown:nth-child(2) {
  background-color: #fff;
  color: transparent;
}
option#rarity-dropdown:nth-child(3) {
  background-color: #27d827;
  color: transparent;
}
option#rarity-dropdown:nth-child(4) {
  background-color: #1919ff;
  color: transparent;
}
option#rarity-dropdown:nth-child(5) {
  background-color: #800080;
  color: transparent;
}
option#rarity-dropdown:nth-child(6) {
  background-color: #ff1493;
  color: transparent;
}
option#rarity-dropdown:nth-child(7) {
  background-color: #ffa500;
  color: transparent;
}
option#rarity-dropdown:nth-child(8) {
  background-color: #f4c2c2;
  color: transparent;
}
option#rarity-dropdown:nth-child(9) {
  background-color: #00ffff;
  color: transparent;
}
option#rarity-dropdown:nth-child(10) {
  background: #b07822;
  color: transparent;
}
