nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  overflow: hidden;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 1);
  background-color: rgba(61, 11, 11, 0.5) !important;
}

span.navbar-border {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
  animation: 2s animateBottom linear infinite;
  position: absolute;
}

.nav-item {
  color: #fff;
  font-weight: bold;
}
a.nav-link {
  color: #fff !important;
  font-weight: bold;
}

// LOGOUT BUTTON RING EFFECT
.logOut-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

button.logOut-btn.btn.btn-primary {
  background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
  border: none;
  text-shadow: 0px 0px 6px white;
  position: relative;
}

button.logOut-btn.btn.btn-primary::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #d92626;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
