.element-container.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weapon-info.jumbotron {
  width: 970px;
  margin: 50px auto;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  overflow: hidden;
  position: relative;
}

.element-card.card.col-md-3 {
  color: #fff;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  font-size: 1.2rem;
  max-width: 19%;
  height: 150px;
  margin: 0;
}

h1.weapon-info-title {
  text-shadow: 0px 0px 5px white;
  text-align: center;
  position: relative;
}

p.element-name {
  z-index: 9;
}

.element-card.card.col-md-3 {
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.element-card.card.col-md-3::after {
  display: none;
}

//++++++++ELEMENT REMOVE BUTTON++++++++++
button.element-remove-button.btn.btn-primary {
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.35em #2b0808;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2.5s linear forwards;
  background-color: transparent;
  border: none;
  padding: 20px 0;
  margin-top: 100px;
  z-index: 9;
}

button.element-remove-button.btn.btn-primary:hover {
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.5);
  width: 100%;
  position: relative;
  padding: 20px 50px;
}

button.element-remove-button.btn.btn-primary div {
  position: absolute;
  top: 20px;
  font-size: 1.2rem;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
  clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

button.element-remove-button.btn.btn-primary::before,
button.element-remove-button.btn.btn-primary::after {
  content: attr(data-text);
  position: absolute;
  top: 20px;
  font-size: 1.2rem;
}

button.element-remove-button.btn.btn-primary::before {
  animation: crack1 2.5s linear forwards;
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

button.element-remove-button.btn.btn-primary::after {
  animation: crack2 2.5s linear forwards;
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
  clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
  5%,
  15%,
  25%,
  35%,
  55%,
  65%,
  75%,
  95% {
    filter: blur(0.018em);
    transform: translateY(0.018em) rotate(0deg);
  }

  10%,
  30%,
  40%,
  50%,
  70%,
  80%,
  90% {
    filter: blur(0.01em);
    transform: translateY(-0.018em) rotate(0deg);
  }

  20%,
  60% {
    filter: blur(0.03em);
    transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%,
  85% {
    filter: blur(0.03em);
    transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
    filter: blur(0.007em);
    transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%,
  95% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-49%, -53%);
  }
}

//ANIMATED JUMBOTRON WEAPON INFO PAGE
.weapon-info.jumbotron span {
  position: absolute;
}

.weapon-info.jumbotron span:nth-child(1) {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  -webkit-animation: 2s animateTop linear infinite;
  animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.weapon-info.jumbotron span:nth-child(2) {
  top: 0px;
  right: 0px;
  height: 100%;
  width: 2px;
  -webkit-animation: 2s animateRight linear -1s infinite;
  animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

.weapon-info.jumbotron span:nth-child(3) {
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  -webkit-animation: 2s animateBottom linear infinite;
  animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.weapon-info.jumbotron span:nth-child(4) {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 2px;
  -webkit-animation: 2s animateLeft linear -1s infinite;
  animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
